{{ define "main" }}
<div class="pv5 psides bg-near-white">
    <div class="mw7 center tc">
        <div class="lh-copy tc">
            {{ .Content }}
        </div>
    </div>
</div>

<div class="pt4 pb3 psides bg-white">
    <div class="mw7 center">
        <h2 class="f2 fw4 tc">To contact DERA</h2>
    </div>
</div>

<div class="psides bg-white">
    <div class="mw8 center cf mb5 contact-wrap">
        <div class="fl w-100 w-50-m w-50-l ph3">
          <article class="bg-white br3 pt3 pt4-ns mv3 ba b--black-10">
            <div class="tc">
              <img src="/images/contact_richard.png" class="br-100 h4 h5-l w4 w5-l center dib ba b--black-05 pa2">
              <div class="pa3 pa4-l f6 f5-l">
                  <h3 class="f5 tc lh-copy">
                      Richard Voisin, P.Eng., PMP
                      <small class="f6 gris1 db">President</small>
                  </h3>
                  <p class="lh-copy mb4 tl">
                      More than 35 years of experience in the renewable energy 
                      sector as an expert in hydropower projects, dams, design, 
                      maintenance, project management and contract administration.
                  </p>
                  <p class="lh-copy mb4 tl">
                      <strong>Canada</strong>: <a class="noir" href="tel:+14389858837">+1 (438) 985-8837</a><br>
                      <strong>Guinea</strong>: <a class="noir" href="+224625055518">+224 625 055 518</a><br>
                      <a class="bleu2 fw7 dib mt3" href="mailto:rvoisin@deraenergy.com">rvoisin@deraenergy.com</a>
                  </p>
              </div>
            </div>
          </article>
        </div>

        <div class="fl w-100 w-50-m w-50-l ph3">
          <article class="bg-white br3 pt3 pt4-ns mv3 ba b--black-10">
            <div class="tc">
              <img src="/images/contact_jf.png" class="br-100 h4 h5-l w4 w5-l center dib ba b--black-05 pa2">
              <div class="pa3 pa4-l f6 f5-l">
                  <h3 class="f5 tc lh-copy">
                      Jean-François Chénier, P.Eng., M.Sc., CVS
                      <small class="f6 gris1 db">Vice-President</small>
                  </h3>
                  <p class="lh-copy mb4 tl">
                      Engineer and manager of multidisciplinary projects for more 
                      than 23 years, Mr. Chénier has worked in manufacturing and 
                      engineering consulting firms, in project management and 
                      commercial development positions, with major organizations 
                      in the field of energy and transportation.
                  </p>
                  <p class="lh-copy mb4 tl">
                      <strong>Canada</strong>: <a class="noir" href="+14388887412">+1 (438) 888-7412</a><br>
                      <strong>Guinea</strong>: <a class="noir" href="tel:+224625463067">+224 625 463 067</a><br>
                      <a class="bleu2 fw7 dib mt3" href="mailto:jfchenier@deraenergy.com">jfchenier@deraenergy.com</a>
                  </p>
              </div>
            </div>
          </article>
        </div>

    </div>
</div>

<div class="address-box bg-near-white pv5">
    <div class="mw9 center f5 lh-copy cf">
        <div class="fl w-100 w-10-l ph4 ph3-l">&nbsp;</div>
        <div class="fl w-100 w-30-l ph4 ph3-l">
            <strong>Head Office</strong><br>
            570, Maplebrook Ave,<br>
            Beaconsfield (QC) Canada H9W 3J8<br>
            <a class="noir" href="tel:+15144659034"><strong>+1 (514) 465-9034</strong></a><br>
            <a href="mailto:info@deraenergy.com" class="b bleu2">info@deraenergy.com</a>
        </div>
        <div class="fl w-100 w-60-l">
            <div class="fl w-100 ph4 ph3-l">
                <strong>Addresses in Africa</strong>
            </div>
            <div class="fl w-100 w-third-ns ph4 ph3-l">
                1, Katanga Ave<br>
                Commune de Ngaliema<br>
                Kinshasa<br>
                Democratic Republic of Congo
            </div>
            <div class="fl w-100 w-third-ns ph4 ph3-l">
                Quartier Nongo Taady<br>
                Commune de Ratoma<br>
                Conakry<br>
                Republic of Guinea
            </div>
            <div class="fl w-100 w-third-ns ph4 ph3-l">
                Abomey Calavi<br>
                Quartier Atropocodji<br>
                Cotonou<br>
                Republic of Benin
            </div>
        </div>
    </div>
</div>
{{ end }}
