{{ define "main" }}
<div class="pv5 psides bg-near-white">
    <div class="mw7 center tc">
        <div class="lh-copy tc">
            {{ .Content }}
        </div>
    </div>
</div>

<div class="address-box bg-near-white pv5">
    <div class="mw9 center f5 lh-copy cf">
        <div class="fl w-100 w-10-l ph4 ph3-l">&nbsp;</div>
        <div class="fl w-100 w-30-l ph4 ph3-l">
            <strong>Head Office</strong><br>
            630 Sherbrooke street West, Suite 1210<br/>
            Montreal, Québec<br/>
            Canada, H3A 1E4<br/>
            <a class="noir" href="tel:+15144659034"><strong>+1 (514) 465-9034</strong></a><br>
            <a href="mailto:info@deraenergy.com" class="b bleu2">info@deraenergy.com</a>
        </div>
        <div class="fl w-100 w-60-l">
            <div class="fl w-100 ph4 ph3-l">
                <strong>Addresses in Africa</strong>
            </div>
            <div class="fl w-100 w-third-ns ph4 ph3-l">
                Quartier Nongo Taady<br>
                Commune de Ratoma<br>
                Conakry<br>
                Republic of Guinea
            </div>
        </div>
    </div>
</div>
{{ end }}
