{{ define "main" }}
<div class="pv5 psides bg-near-white">
    <div class="mw7 center tc">
        <div class="lh-copy tc">
            {{ .Content }}
        </div>
    </div>
</div>

<div class="pt4 pb3 psides bg-white">
    <div class="mw7 center">
        <h2 class="f2 fw7 tc">Services</h2>
        <p class="lh-copy tc">
            Nous rassemblons une équipe de consultants, d’ingénieurs et de 
            gestionnaires de projets, spécialisés en hydroélectricité, solaire, 
            transport et distribution d’énergie électrique dans le but d’offrir 
            des solutions adaptées à nos clients. Nous avons établi une présence 
            mondiale au travers de nombreux projets pour différents opérateurs 
            publiques ou clients privés en Amérique du Nord, en Europe et en Afrique.
        </p>
    </div>
</div>

<div class="services-cards cf">
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_develop.jpg">
            <p class="ma0 ph4 white f3 f4-m f5-l fw7 tc">
                Développement de projet
            </p>
        </div>
    </div>
    
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_gestion.jpg">
            <p class="ma0 ph4 white f3 f4-m f5-l fw7 tc">
                Gestion de contrat et de construction
            </p>
        </div>
    </div>
    
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_ingenerie.jpg">
            <p class="ma0 ph4 white f3 f4-m f5-l fw7 tc">
                Ingénérie de production, transport et distribution d'énergie
            </p>
        </div>
    </div>
    
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_etudes.jpg">
            <p class="ma0 ph4 white f3 f4-m f5-l fw7 tc">
                Études d'impact social et environnemental
            </p>
        </div>
    </div>
    
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_expert.jpg">
            <p class="lh-copy ma0 ph4 white f3 f5-l fw7 tc">
                Expertise en énergie
            </p>
        </div>
    </div>
</div>

<div class="pt4 pb3 psides bg-white section-mandats">
    <div class="mw7 center">
        <h2 class="f2 fw7 tc">Mandats</h2>
    </div>
    <div class="mw9 center cf">
        <div class="fl w-100 w-50-m w-25-l ph3">
            <article class="card bg-white mb4">
                <div class="img-container">
                    <img src="/images/photo_mandat_loffa.jpg" class="w-100 db" alt="Rivière Loffa à Palan">
                    <small class="ph3 pv2 f6 fw7 ttu white">Guinée</small>
                </div>
                <div class="pa3 bg-near-white">
                    <small class="db f7">Rivière Loffa à Palan</small>
                    <h3 class="f5 vert1">Études préliminaires pour le développement de 6 sites hydroélectriques</h3>
                    <p class="f6 lh-copy">
                        Réalisation complète des études préliminaires pour le développement d’aménagements
                        hydroélectriques compris entre 5 et 25 MW.<br><br>
                        Analyses des données des sites, conception préliminaire des ouvrages et des réseaux pour
                        l’électrification rurale, évaluation environnementale et sociale, analyses économiques et
                        financières, évaluation du cadre institutionnel.
                    </p>
                </div>
            </article>
        </div>
        
        <div class="fl w-100 w-50-m w-25-l ph3">
            <article class="card bg-white mb4">
                <div class="img-container">
                    <img src="/images/photo_mandat_mano.jpg" class="w-100 db" alt="Rivière Mano à Kongo">
                    <small class="ph3 pv2 f6 fw7 ttu white">Libéria et Sierra Léone</small>
                </div>
                <div class="pa3 bg-near-white">
                    <small class="db f7">Rivière Mano à Kongo</small>
                    <h3 class="f5 vert1">Diagnostic du projet hydroélectrique Manon sur la rivière Mano</h3>
                    <p class="f6 lh-copy">
                        Revue des études existantes (1981), évaluation des solutions techniques en corrélation avec la
                        gestion des deux parcs nationaux riverains.<br><br>
                        Évaluation des cadres de référence en matière environnemental, juridique et institutionnel;<br><br>
                        Évaluation de l’impact environnemental et social;<br><br>
                        Élaboration d’alternatives techniques viables.
                    </p>
                </div>
            </article>
        </div>
        
        <div class="fl w-100 w-50-m w-25-l ph3">
            <article class="card bg-white mb4">
                <div class="img-container">
                    <img src="/images/photo_mandat_togo.jpg" class="w-100 db" alt="Fleuve Mono à Tététou">
                    <small class="ph3 pv2 f6 fw7 ttu white">Togo</small>
                </div>
                <div class="pa3 bg-near-white">
                    <small class="db f7">Fleuve Mono à Tététou</small>
                    <h3 class="f5 vert1">Études préliminaires pour le développement de 10 sites hydroélectriques</h3>
                    <p class="f6 lh-copy">
                        Réalisation complète des études préliminaires pour le développement d’aménagements
                        hydroélectriques compris entre 5 et 80 MW.<br><br>
                        Analyses des données des sites, conception préliminaire des ouvrages et des interconnexions,
                        évaluation environnementale et sociale, analyses économiques et financières, évaluation du
                        cadre institutionnel.
                    </p>
                </div>
            </article>
        </div>
        
        <div class="fl w-100 w-50-m w-25-l ph3">
            <article class="card bg-white mb4">
                <div class="img-container">
                    <img src="/images/photo_mandat_inga.jpg" class="w-100 db" alt="Fleuve Congo à Inga">
                    <small class="ph3 pv2 f6 fw7 ttu white">République Démocratique du Congo</small>
                </div>
                <div class="pa3 bg-near-white">
                    <small class="db f7">Fleuve Congo à Inga</small>
                    <h3 class="f5 vert1">Assistance technique et conseiller stratégique du Ministère sur le projet INGA</h3>
                    <p class="f6 lh-copy">
                        Membre de l’équipe des conseillers stratégiques du Ministère de l’Énergie<br><br>
                        Assistance technique pour le bureau d’avocats Orrick Rambaud Martel (chef de file des
                        conseillers) :
                    </p>
                    <ul class="f6 lh-copy">
                        <li>Appel d’Offres pour le choix d’un concessionnaire;</li>
                        <li>« Term sheet » - contrat de concession;</li>
                        <li>« Term sheet » - contrats d’achat d’énergie (PPA);</li>
                        <li>Conseil en management organisationnel et en gestion de projet.</li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
</div>

<div class="psides tc mt4 mb5">
    <a href="/contact/" class="f4 link ph4 pv3 mv2 dib bg-vert1 white mr3">Contactez-nous</a>
</div>
{{ end }}
