{{ define "main" }}
<div class="pv5 psides bg-near-white">
    <div class="mw7 center tc">
        <div class="lh-copy tc">
            {{ .Content }}
        </div>
    </div>
</div>

<div class="pt4 pb3 psides bg-white">
    <div class="mw7 center">
        <h2 class="f2 fw7 tc">Services</h2>
        <p class="lh-copy tc">
            Nous rassemblons une équipe de consultants, d’ingénieurs et de 
            gestionnaires de projets, spécialisés en hydroélectricité, solaire, 
            transport et distribution d’énergie électrique dans le but d’offrir 
            des solutions adaptées à nos clients. Nous avons établi une présence 
            mondiale au travers de nombreux projets pour différents opérateurs 
            publiques ou clients privés en Amérique du Nord, en Europe et en Afrique.
        </p>
    </div>
</div>

<div class="services-cards cf">
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_develop.jpg">
            <p class="ma0 ph4 white f3 f4-m f5-l fw7 tc">
                Développement de projet
            </p>
        </div>
    </div>
    
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_gestion.jpg">
            <p class="ma0 ph4 white f3 f4-m f5-l fw7 tc">
                Gestion de contrat et de construction
            </p>
        </div>
    </div>
    
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_ingenerie.jpg">
            <p class="ma0 ph4 white f3 f4-m f5-l fw7 tc">
                Ingénérie de production, transport et distribution d'énergie
            </p>
        </div>
    </div>
    
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_etudes.jpg">
            <p class="ma0 ph4 white f3 f4-m f5-l fw7 tc">
                Études d'impact social et environnemental
            </p>
        </div>
    </div>
    
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_expert.jpg">
            <p class="lh-copy ma0 ph4 white f3 f5-l fw7 tc">
                Expertise en énergie
            </p>
        </div>
    </div>
</div>

<div class="psides tc mt4 mb5">
    <a href="/contact/" class="f4 link ph4 pv3 mv2 dib bg-vert1 white mr3">Contactez-nous</a>
</div>
{{ end }}
