{{ define "main" }}
<!--
  <article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
    {{ .Content }}
  </article>
-->
<div class="pv5 bg-near-white">
    <div class="mw7 center tc">
        <p class="lh-copy tc">
            DERA Energy develops and operates hydroelectric and solar
            renewable energy power plants in Africa and Europe. We carry out projects that are coherent with
            the local communities and friendly to the environment in which they are located. We
            aim for value creation where we are and strive for everyone to have access to clean
            and stable energy.
        </p>
    </div>
</div>
<div class="mw7 pt4 pb6 mb4 center">
    <p class="f2-custom lh-167 tc">
        <!-- Our vision is to develop a portfolio of renewable energy projects with 
        very high value for private investors. -->
		<br />
		<br />
		<br />
    </p>
</div>
<div class="woodbg ph3 ph4-ns cf">
    <div class="mw9 center">
        <div class="bg-vert1 pt2 pb3 ph4 w-75-m w-50-l mb6 fl overlap-up">
            <h2 class="vert2 f2 lh-title ph3">Our Power Plants</h2>
            <ul class="white f5 lh-copy">
			    <li>
                    Operating Plants:
                    <ul>
                        <li><strong>Albanie:</strong> 1 hydroelectric plants - 8 MW</li>
						<li><strong>Madagascar:</strong> 3 solar plants - 5.60 MW</li>
                    </ul>
                </li>
				<li>
                    Plants under Construction:
                    <ul>
						<li><strong>Madagascar:</strong> 4 solar sites -  40.35 MW</li>
                    </ul>
                </li>
                <li>
                    Plants in Development:
                    <ul>
                        <li><strong>Guinea:</strong><ul><li>1 hydroelectric project - 33 MW</li><li>1 solar project - 10 MW</li></ul></li> <!-- Used to be 3 for 80 -->
                    </ul>
					<ul>
						<li><strong>Madagascar:</strong> 1 solar project - 4 MW</li>
                    </ul>
                </li>
            </ul>
            <p class="tr">
                <a href="/projects/" class="f4 link ph4 pv3 mv2 dib vert2 bg-white mr3">View our projects</a>
            </p>
        </div>
    </div>
    
</div>

{{ end }}
