{{ define "main" }}
<div class="pv5 psides bg-near-white">
    <div class="mw7 center tc">
        <div class="lh-copy tc">
            {{ .Content }}
        </div>
    </div>
</div>

<div class="pt4 pb3 psides bg-white">
    <div class="mw7 center">
        <h2 class="f2 fw7 tc">Our Services</h2>
        <p class="lh-copy tc">
            We bring together a team of consultants, engineers and project managers 
            specialized in hydropower, solar, transportation & distribution of electrical 
            energy aiming at offering solutions adapted to our customers. We have 
            established a global presence through numerous projects for different public 
            operators or private clients in North America, Europe and Africa.
        </p>
    </div>
</div>

<div class="services-cards cf">
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_develop.jpg">
            <p class="ma0 ph4 white f3 f4-m f5-l fw7 tc">
                Project development
            </p>
        </div>
    </div>
    
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_gestion.jpg">
            <p class="ma0 ph4 white f3 f4-m f5-l fw7 tc">
                Contract and construction management
            </p>
        </div>
    </div>
    
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_ingenerie.jpg">
            <p class="ma0 ph4 white f3 f4-m f5-l fw7 tc">
                Energy production, transportation & distribution Engineering
            </p>
        </div>
    </div>
    
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_etudes.jpg">
            <p class="ma0 ph4 white f3 f4-m f5-l fw7 tc">
                Social and environment studies
            </p>
        </div>
    </div>
    
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_expert.jpg">
            <p class="lh-copy ma0 ph4 white f3 f5-l fw7 tc">
                Energy expert
            </p>
        </div>
    </div>
</div>

<div class="pt4 pb3 psides bg-white section-mandats">
    <div class="mw7 center">
        <h2 class="f2 fw7 tc">Mandates</h2>
    </div>
    <div class="mw9 center cf">
        <div class="fl w-100 w-50-m w-25-l ph3">
            <article class="card bg-white mb4">
                <div class="img-container">
                    <img src="/images/photo_mandat_loffa.jpg" class="w-100 db" alt="Guinea">
                    <small class="ph3 pv2 f6 fw7 ttu white">Guinea</small>
                </div>
                <div class="pa3 bg-near-white">
                    <small class="db f7">Loffa river at Palan</small>
                    <h3 class="f5 vert1">Preliminary studies for the development of 6 hydropower sites</h3>
                    <p class="f6 lh-copy">
                        Preliminary studies for the development of hydroelectric projects with a capacity of between
                        5 and 25 MW.<br><br>
                        Analysis of site data, preliminary design of hydropower layouts and rural electrification grids,
                        environmental and social assessment, financial and economic analysis, institutional
                        framework assessment.
                    </p>
                </div>
            </article>
        </div>
        
        <div class="fl w-100 w-50-m w-25-l ph3">
            <article class="card bg-white mb4">
                <div class="img-container">
                    <img src="/images/photo_mandat_mano.jpg" class="w-100 db" alt="Mano River at Kongo">
                    <small class="ph3 pv2 f6 fw7 ttu white">Liberia & Sierra Leone</small>
                </div>
                <div class="pa3 bg-near-white">
                    <small class="db f7">Mano River at Kongo</small>
                    <h3 class="f5 vert1">Mano hydropower project scoping study</h3>
                    <p class="f6 lh-copy">
                        Review of existing project studies (1981), evaluation of the technical solutions in relation to
                        the management of the two national parks.<br>
                        Assessment of environmental, legal and institutional frameworks;<br>
                        Assessment of the environmental and social impact of the project.<br>
                        Development of viable technical alternatives.<br>
                    </p>
                </div>
            </article>
        </div>
        
        <div class="fl w-100 w-50-m w-25-l ph3">
            <article class="card bg-white mb4">
                <div class="img-container">
                    <img src="/images/photo_mandat_togo.jpg" class="w-100 db" alt="Mono River at Tététou">
                    <small class="ph3 pv2 f6 fw7 ttu white">Togo</small>
                </div>
                <div class="pa3 bg-near-white">
                    <small class="db f7">Mono River at Tététou</small>
                    <h3 class="f5 vert1">Preliminary studies for the development of 10 hydropower sites</h3>
                    <p class="f6 lh-copy">
                        Completion of preliminary studies for the development of hydroelectric projects with a
                        capacity of between 5 and 80 MW.<br>
                        Analysis of site data, preliminary design of hydropower layouts and interconnexions,
                        environmental and social assessment economic and financial analysis, institutional framework
                        assessment.
                    </p>
                </div>
            </article>
        </div>
        
        <div class="fl w-100 w-50-m w-25-l ph3">
            <article class="card bg-white mb4">
                <div class="img-container">
                    <img src="/images/photo_mandat_inga.jpg" class="w-100 db" alt="Congo River at Inga">
                    <small class="ph3 pv2 f6 fw7 ttu white">Democratic Republic of Congo</small>
                </div>
                <div class="pa3 bg-near-white">
                    <small class="db f7">Congo River at Inga</small>
                    <h3 class="f5 vert1">Technical assistance and strategic advisor of the Ministry on the INGA project</h3>
                    <p class="f6 lh-copy">
                        Member of the Strategic Advisory Team of the Ministry of Energy<br><br>
                        Technical assistance for the law firm Orrick Rambaud Martel (lead counselors):
                    </p>
                    <ul class="f6 lh-copy">
                        <li>Tender for the choice of a concessionaire;</li>
                        <li>Concession contract term sheet;</li>
                        <li>Power Purchase Agreement (PPA) term sheet;</li>
                        <li>Organizational and project management consulting.</li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
</div>

<div class="psides tc mt4 mb5">
    <a href="/contact-us/" class="f4 link ph4 pv3 mv2 dib bg-vert1 white mr3">Contact Us</a>
</div>
{{ end }}
