{{ define "main" }}
<div class="pv5 psides bg-near-white">
    <div class="mw7 center tc">
        <div class="lh-copy tc">
            {{ .Content }}
        </div>
    </div>
</div>

<div class="pt4 pb3 psides bg-white">
    <div class="mw7 center">
        <h2 class="f2 fw7 tc">Our Services</h2>
        <p class="lh-copy tc">
            We bring together a team of consultants, engineers and project managers 
            specialized in hydropower, solar, transportation & distribution of electrical 
            energy aiming at offering solutions adapted to our customers. We have 
            established a global presence through numerous projects for different public 
            operators or private clients in North America, Europe and Africa.
        </p>
    </div>
</div>

<div class="services-cards cf">
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_develop.jpg">
            <p class="ma0 ph4 white f3 f4-m f5-l fw7 tc">
                Project development
            </p>
        </div>
    </div>
    
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_gestion.jpg">
            <p class="ma0 ph4 white f3 f4-m f5-l fw7 tc">
                Contract and construction management
            </p>
        </div>
    </div>
    
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_ingenerie.jpg">
            <p class="ma0 ph4 white f3 f4-m f5-l fw7 tc">
                Energy production, transportation & distribution Engineering
            </p>
        </div>
    </div>
    
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_etudes.jpg">
            <p class="ma0 ph4 white f3 f4-m f5-l fw7 tc">
                Social and environment studies
            </p>
        </div>
    </div>
    
    <div class="fl w-100 w-50-m w-20-l">
        <div class="service-card">
            <img src="/images/serv_expert.jpg">
            <p class="lh-copy ma0 ph4 white f3 f5-l fw7 tc">
                Energy expert
            </p>
        </div>
    </div>
</div>

<div class="psides tc mt4 mb5">
    <a href="/contact-us/" class="f4 link ph4 pv3 mv2 dib bg-vert1 white mr3">Contact us</a>
</div>

{{ end }}
