<footer class="bg-bleu3 bottom-0 w-100 pv3 psides" role="contentinfo">
    <div class="mw9 center cf">

        <div class="fl-ns w-100-m w-40-l">
            <div class="fl-ns w-100-m w-50-l">&nbsp;</div>
            <div class="fl-ns w-100-m w-50-l">

                {{ if eq (.Params.lang) "en" }}
                    <h3 class="white mt0">Contact DERA</h3>
                {{ else }}
                    <h3 class="white mt0">Contacter DERA</h3>
                {{ end }}


                
                <p class="white lh-copy mb4 mb5-l">
                    <a class="white" href="tel:+15144659034">+1 (514) 465-9034</a><br>
                    <a class="bleu1" href="mailto:info@deraenergy.com">info@deraenergy.com</a>
                </p>
                {{ partial "social-follow.html" . }}
                <p class="white lh-copy">
                    Copyright &copy; 2017-{{ now.Format "2006" }} DERA.<br>
                    {{ if eq (.Params.lang) "en" }}
                        All rights reserved.
                    {{ else }}
                        Tous droits réservés.
                    {{ end }}
                </p>
            </div>
        </div>
    </div>
</footer>
