{{ define "main" }}
<!--
  <article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
    {{ .Content }}
  </article>
-->
<div class="pv5 psides bg-near-white">
    <div class="mw7 center">
        <p class="lh-copy tc">
            DERA Energy développe et opère des centrales de
            production d’énergie renouvelable hydroélectriques et solaires en Afrique et Europe. Nous
            réalisons des projets cohérents avec le milieu et respectueux de l’environnement dans
            lesquels ils s’inscrivent. Nous visons la création de valeur là où nous sommes et
            aspirons à ce que tous puissent avoir accès à une énergie propre et stable.
        </p>
    </div>
</div>
<div class="mw7 pt4 pb6 psides mb4 center">
    <p class="f2-custom lh-167 tc">
        <!-- Notre vision est de développer un portefeuille de projets en énergie 
        renouvelable à très forte valeur pour des investisseurs privés. -->
		<br />
		<br />
		<br />
    </p>
</div>
<div class="woodbg psides">
    <div class="mw9 center cf">
        <div class="bg-vert1 pt2 pb3 ph4 w-75-m w-50-l mb6 fl overlap-up">
            <h2 class="vert2 f2 lh-title ph3">Nos centrales</h2>
            <ul class="white f5 lh-copy">
			    <li>
                    Centrales en opération :
                    <ul>
                        <li><strong>Albanie :</strong> 1 site hydroélectrique - 8 MW</li>
						<li><strong>Madagascar :</strong> 3 sites solaires - 5,60 MW</li>
                    </ul>
                </li>
				<li>
                    Centrales on construction :
                    <ul>
						<li><strong>Madagascar :</strong> 3 sites solaires -  35,35 MW</li>
                    </ul>
                </li>
                <li>
                    Centrales en développement :
                    <ul>
                        <li><strong>Guinée :</strong> <ul><li>1 projet hydroélectrique - 33 MW</li><li>1 projet solaire - 10 MW</li></ul></li> <!-- Used to be 3 for 80 -->
                    </ul>
					<ul>
						<li><strong>Madagascar :</strong> 2 projets solaires - 9 MW</li>
                    </ul>
                </li>
            </ul>
            <p class="tr">
                <a href="/projets" class="f4 link ph4 pv3 mv2 dib vert2 bg-white mr3">Voir nos projets</a>
            </p>
        </div>
    </div>
    
</div>

{{ end }}
