{{ define "main" }}
<!--
  <article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
    {{ .Content }}
  </article>
-->
<div class="pv5 psides bg-near-white">
    <div class="mw7 center">
        <p class="lh-copy tc">
            Développement Énergie Renouvelable Afrique inc. développe des centrales de
            production d’énergie renouvelable hydroélectriques et solaires en Afrique. Nous
            réalisons des projets cohérents avec le milieu et respectueux de l’environnement dans
            lesquels ils s’inscrivent. Nous visons la création de valeur là où nous sommes et
            aspirons à ce que tous puissent avoir accès à une énergie propre et stable.
        </p>
    </div>
</div>
<div class="mw7 pt4 pb6 psides mb4 center">
    <p class="f2-custom lh-167 tc">
        Notre vision est de développer un portefeuille de projets en énergie 
        renouvelable à très forte valeur pour des investisseurs privés.
    </p>
</div>
<div class="woodbg psides">
    <div class="mw9 center cf">
        <div class="bg-vert1 pt2 pb3 ph4 w-75-m w-50-l mb6 fl overlap-up">
            <h2 class="vert2 f2 lh-title ph3">Au coeur de notre métier</h2>
            <ul class="white f5 lh-copy">
                <li>
                    Projets en développement :
                    <ul>
                        <li><strong>Guinée :</strong> 3 projets hydroélectriques - 80 MW</li>
                        <li><strong>République Démocratique du Congo :</strong> 1 projet solaire photovoltaïque - 50 MW</li>
                    </ul>
                </li>
                <li>
                    Services de consultants récents :
                    <ul>
                        <li><strong>Togo :</strong> Évaluation du potentiel hydroélectrique de 10 sites</li>
                        <li><strong>Guinée :</strong> Études de pré-faisabilité de 6 sites hydroélectriques</li>
                    </ul>
                </li>
                <li>
                    Site en opération:
                    <ul>
                        <li><strong>Albanie :</strong> 1 site hydroélectrique - 8 MW</li>
                    </ul>
                </li>
            </ul>
            <p class="tr">
                <a href="/projets" class="f4 link ph4 pv3 mv2 dib vert2 bg-white mr3">Voir nos projets</a>
            </p>
        </div>
    </div>
    
</div>

{{ end }}
