{{ define "main" }}
<div class="pv5 psides bg-near-white">
    <div class="mw7 center tc">
        <div class="lh-copy tc">
            {{ .Content }}
        </div>
    </div>
</div>

<div class="pt4 pb3 psides bg-white">
    <div class="mw7 center">
        <h2 class="f2 fw7 tc">About Us</h2>
        <p class="lh-copy tc">
            We bring together a team of consultants, engineers and project managers 
            specialized in hydropower, solar, transportation & distribution of electrical 
            energy aiming at offering solutions adapted to our customers. We have 
            established a global presence through numerous projects for different public 
            operators or private clients in North America, Europe and Africa.
        </p>
    </div>
</div>

<div class="psides tc mt4 mb5">
    <a href="/contact-us/" class="f4 link ph4 pv3 mv2 dib bg-vert1 white mr3">Contact Us</a>
</div>

{{ end }}
